.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main_navbar {
  display: flex;
  justify-content: right !important;
  margin: 0 0 auto 0;
}

.navbar-brand {
  flex-grow: 0;
}

.mr-auto.navbar-nav {
  flex-grow: 1;
}

.navbar-text {
  flex-grow: 1;
  display: flex;
}

.navbar-text button {
  margin-right: 25px;
  margin-left: auto;
}

.main_navbar .navbar-text {
  display: flex;
  justify-self: right;
}

.Login_container {
  display: flex;
  justify-content: center;  
  width: 100%;
  height: 100%;
}

.login_form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: rgb(243, 243, 233);
}

.authenticating_button {
  padding: 20px 40px !important;
  border-radius: 25px !important;
  border: 2px solid rgb(96, 96, 106) !important;
}

.authenticating_button:hover {
  background-color: black !important;
  color: rgba(220, 212, 200, 0.775) !important;
  transition: background-color color 2s ease !important;
  transition: color 4s ease !important;
}

.spinner-border {
  width: 100px !important;
  height: 100px !important;
  margin: 0 auto;
}

.Chat_container {
  width: 100%;
  height: 100%;
  background-color: wheat;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Chat {
  width: 95%;
  margin: 0% auto 3% auto;
  height: 85%;
  background-color: whitesmoke;
  overflow-y: auto;
}

.input_group_type {
  position: absolute;
  bottom: 5%;
  width: 95% !important;
  margin-bottom: 5%;
  display: flex !important;
  margin: 0 auto;
  flex-direction: row-reverse !important;
}

.user_message_settings-wrapper {
  margin: 20px 20px 0 20px;
  display: inline-flex;
  align-items: center;
  background-color: teal;
}

.user_message_settings-wrapper div {
  margin-right: 15px;
  padding: 10px;
}

.message {
  display: table-caption;
}

.avatar_profile {
  margin: 5px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.message_text {
  margin: 0 20px 20px 20px;
  padding: 10px;
  background-color: rgb(204, 190, 190);
  max-width: 320px;
}